body {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  font-family: PingFangSC-Regular, sans-serif;
  color: #444444;
  background: #f3f5f7;
}

a {
  color: #4f89fb;
  text-decoration: none;
}

.iconfont {
  font-size: 18px;
  font-weight: 600;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 14px;
  padding: 6px 20px 12px 20px;
  font-weight: 550;
  background: #fff;
  box-shadow: 1px 1px 1px #dddddd;
}
.header-back {
  display: flex;
  align-items: center;
  width: 90px;
}
.header-icon {
  margin-right: -6px;
}
.header-title {
  font-size: 18px;
}
.header-shensu {
  width: 90px;
  padding-right: 14px;
  text-align: right;
  box-sizing: border-box;
}

.total {
  padding: 20px;
  background: #fff;
}
.total-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}
.total-item + .total-item {
  margin-top: 8px;
  padding-top: 8px;
  border-top: 1px solid #e7e7e7;
}
.total-icon {
  margin: 0 6px;
  font-weight: 550;
}

.list {
  height: calc(100vh - 180px);
  padding-top: 14px;
  overflow: auto;
}
.list-item {
  margin-bottom: 14px;
  padding: 15px 20px 24px 21px;
  background: #fff;
}
.list-item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #404040;
  font-size: 18px;
  font-weight: 550;
  line-height: 32px;
}
.list-item-header div + div {
  padding-right: 32px;
}
.list-item-body {
  position: relative;
  color: #94939b;
  font-weight: 550;
  line-height: 30px;
}
.list-item-body .icon-qianjin {
  position: absolute;
  top: 27px;
  right: 0;
  color: #d9dde4;
}
